*./pclprof


# data
input/simulations/*

#Pytorch
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc


# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store


# Virtualenv
venv/

# Log files
*.log
sweep/

# PyCharm files
.idea

# Profiling
fix_pclprof.py
*.pclprof

